@charset="utf-8";
*{
	box-sizing:border-box;
}
.wrap{
	position:relative;
	width:80%;
	margin:50px auto; 
}
.circle{
	position:absolute;
	width:200px;
	height:200px;
	padding:20px;
	text-align:center;
	font-size:30px;
	font-family:"微软雅黑";
	border-radius:50%;
	text-shadow:1px 1px 0 rgba(255,255,255,.5);
}
.circle p i{
	display: block;
	width: 32px;
	height:32px;
	margin: 0 auto;
}
.circle p i.icon-a{
	background: url(../images/1.png) no-repeat;
}
.circle p i.icon-b{
	background: url(../images/2.png) no-repeat;
}
.circle p i.icon-c{
	background: url(../images/3.png) no-repeat;
}
.circle p i.icon-d{
	background: url(../images/4.png) no-repeat;
}
.circle p i.icon-e{
	background: url(../images/5.png) no-repeat;
}
.circle:nth-child(1){
	color:#4d9683;
	border:6px solid #549e89;
	background:#51c9a7;
}
.circle:nth-child(2){
	left:150px;
	color:#be607e;
	border:6px solid #e499b0;
	background:#e67b9c;
}
.circle:nth-child(3){
	left:300px;
	color:#5e9eb4;
	border:6px solid #a2cfde;
	background:#7ec9e3;
}
.circle:nth-child(4){
	left:450px;
	color:#ba9d5e;
	border:6px solid #dcc999;
	background:#f0cd78;
}
.circle:nth-child(5){
	left:600px;
	color:#b468a2;
	border:6px solid #d8abcd;
	background:#dd91cb;
}
.circle:hover{
	z-index:999;
	transform:scale(1.1);
	transition:all .5s;
}
.circle:hover p{
	animation:act 1s ease-in-out
;
}
@keyframes act{
	0%{
		transform:translateY(0);
		opacity:1;
	}
	50%{
		transform:translateY(150px);
		opacity:0;
	}
	100%{
		transform:translateY(0);
		opacity:1;
	}
}
.circle:hover:nth-child(1){
	color:#0f775c;
	border:6px solid #0a8462;
	background:#00c18c;
}
.circle:hover:nth-child(2){
	color:#b12a55;
	border:6px solid #ba335c;
	background:#ea5180;
}
.circle:hover:nth-child(3){
	color:#2883a2;
	border:6px solid #4397b3;
	background:#55c1e5;
}
.circle:hover:nth-child(4){
	color:#ab8228;
	border:6px solid #b08f3e;
	background:#f8c64d;
}
.circle:hover:nth-child(5){
	color:#a33689;
	border:6px solid #b7569f;
	background:#dd70c3;
}